<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Saddr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-saddr" class="form-control" name="row[saddr]" type="text" value="{$row.saddr|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Eaddr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-eaddr" class="form-control" name="row[eaddr]" type="text" value="{$row.eaddr|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stime_ids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stime_ids" data-rule="required" data-source="stime/index" data-multiple="true" class="form-control selectpage" name="row[stime_ids]" type="text" value="{$row.stime_ids|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[stime]" type="text" value="{:$row.stime?datetime($row.stime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="typeStatusList" item="vo"}
            <label for="row[type_status]-{$key}"><input id="row[type_status]-{$key}" name="row[type_status]" type="radio" value="{$key}" {in name="key" value="$row.type_status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ps')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ps" class="form-control" name="row[ps]" type="text" value="{$row.ps|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('S_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-s_id" data-rule="required" data-source="s/index" class="form-control selectpage" name="row[s_id]" type="text" value="{$row.s_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('E_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-e_id" data-rule="required" data-source="e/index" class="form-control selectpage" name="row[e_id]" type="text" value="{$row.e_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Alltime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-alltime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[alltime]" type="text" value="{:$row.alltime?datetime($row.alltime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status_switch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-status_switch" name="row[status_switch]" type="hidden" value="{$row.status_switch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-status_switch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.status_switch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
